* {
  margin: 0;
  padding: 0;
  font-family: "SF";
  user-select: none;
  box-sizing: border-box;
}

/* light theme colors */
body.light {
  --color-bg: rgb(237,238,240);
  --color-bg-result: #ebf9ff;
  --color-bg-calculator: rgb(255,255,255);
  --color-bg-button: rgba(0, 119, 255, 0.514);
  --color-bg-button-hover: #cecbf0;
  --color-bg-operationButton: #b820ff50;
  --color-bg-operationButton-hover: #7c15ac62;
  --img-bg-switchThemeBtn: url("img/moon.png");
  --color-text: rgb(85, 85, 85);
}

/* dark theme colors */
body.dark {
  --color-bg: rgb(20,20,20);
  --color-bg-result: #8b9092b2;
  --color-bg-calculator: rgb(34,34,34);
  --color-bg-button: rgb(0,119,255);
  --color-bg-button-hover: #746ae2;
  --color-bg-operationButton: #ae00ff;
  --color-bg-operationButton-hover: rgba(98, 16, 136, 0.514);
  --img-bg-switchThemeBtn: url("img/sun.png");
  --color-text: rgb(184, 184, 184);
}

body {
  background: var(--color-bg);
  transition: 0.5s;
}

.container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  padding: 100px;
}

.result {
  margin-bottom: 10px;
  width: 100%;
  height: 65px;
  outline: none;
  border: none;
  border-radius: 30px;
  background: var(--color-bg-result);
  box-shadow: 0px 5px 10px 2px rgba(34, 60, 80, 0.2) inset;
  display: flex;
  justify-content: end;
  align-items: center;
  overflow: auto;
  transition: 0.5s;
}

.result span {
  margin-right: 40px;
  font-size: 38px;
  color: var(--color-text);
  cursor: pointer;
  transition: 0.5s;
}

.calculator {
  padding: 30px;
  border-radius: 40px;
  width: 373px;
  height: 623px;
  background: var(--color-bg-calculator);
  box-shadow: 0px 0px 0px 10px rgba(180, 244, 255, 0.2);
  transition: 0.5s;
}
.button {
  border-radius: 50%;
  outline: none;
  border: none;
  background: var(--color-bg-button);
  margin: 13px;
  width: 75px;
  height: 75px;
  font-size: 38px;
  color: var(--color-text);
  box-shadow: 0px 0px 10px 2px rgba(34, 60, 80, 0.2);
  cursor: pointer;
  transition: 0.5s;
}

.button:hover {
  background: var(--color-bg-button-hover);
}

.operationButton {
  background: var(--color-bg-operationButton);
}

.operationButton:hover {
  background: var(--color-bg-operationButton-hover);
}

.zero {
  border-radius: 35px;
  width: 180px;
}

.switchTheme {
  height: 50px;
  width: 50px;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 15px;
  border-radius: 50%;
  background: var(--img-bg-switchThemeBtn);
  background-size: cover;
  transition: 0.5s;
}

/* ============================================================ */
/* fonts */
/* ============================================================ */

@font-face {
  font-family: "SF";
  src: url("fonts/SFProText-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
